@charset "UTF-8";
@font-face {
  font-family: "Museo Sans Cyrl 500";
  src: url(/fonts/MuseoSansCyrl-500.woff), url(/fonts/MuseoSansCyrl-500.woff2);
}
@font-face {
  font-family: "Museo Cyrl 500";
  src: url(/fonts/MuseoCyrl-500.woff);
}
:root {
  --green-color: #4ea015;
  --green2-color: #086f02;
  --light-green-color: #80bf1d;
  --dark-green-color: #087006;
  --gray-color: #e0e0e0;
  --white-color: #fff;
  --black-color: #000;
  --base-color-hover: #087006;
  --base-color-active: #80bf1d;
  --transition-duration: 0.3s;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /*чтобы padding работали правильно*/
  height: 100%;
}

*,
body {
  font-size: 16px; /*шрифт по умолчанию*/
  font-family: "Museo Sans Cyrl 500";
  margin: 0; /*обнуление всех margin по умолчанию, если его размер не указан*/
  color: var(--black-color);
}

body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  max-width: 100%; /*чтобы картинка не выходила за пределы экрана*/
}

a {
  text-decoration: none; /*чтобы не было нижнего подчеркивания по умолчанию*/
}

/*--------------Контейнер--------------*/
.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }
  .container {
    max-width: 1007px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 750px;
  }
}
/*--------------кнопка--------------*/
.default-btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: var(--white-color);
  padding: 11px 40px;
  border-radius: 10px;
  background-color: var(--green-color);
  border: none;
  -webkit-transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  cursor: pointer; /*курсор в виде руки*/
}

.default-btn:hover {
  background-color: var(--green2-color);
}

.default-btn:active {
  background-color: var(--dark-green-color);
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: sticky; /*фиксируем строку меню чтобы она всегда была сверху*/
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  z-index: 5; /*чтобы вынести этот блок на самый передний план*/
}
.header__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header:before {
  /*делаем салатовую полоску меню*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2; /*делаем чтобы блоки стояли на переднем или заднем плане*/
}
.header__burger {
  display: none; /*скроем для всех разрешений кроме телефона*/
}

.logo {
  position: relative;
  margin: 0 20px 0 0;
  z-index: 3;
}
.logo img {
  width: 282px;
  margin: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  z-index: 3;
}
.menu__link {
  color: var(--black-color);
  outline: none;
  -webkit-transition: color var(--transition-duration), background-color var(--transition-duration);
  transition: color var(--transition-duration), background-color var(--transition-duration);
  margin-right: 56px;
}
.menu__link:hover {
  color: var(--base-color-hover);
}
.menu__link:active {
  color: var(--base-color-active);
}

.search {
  display: block;
  z-index: 5;
}
.search__img {
  width: 28px;
  height: 28px;
}

@media (max-width: 1024px) {
  .header__wrap {
    height: 60px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px; /*делаем размеры меню бургер*/
    height: 20px;
    z-index: 10;
    /*после подключения js прописываем для активного режима*/
  }
  .header__burger span {
    /*делаем среднюю полоску меню бургер*/
    position: absolute;
    background-color: var(--green-color);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; /*пишем для плавности нажатия*/
  }
  .header__burger:before {
    /*делаем верхнюю полоску меню бургер*/
    content: ""; /*прописываем обязательно чтобы все появилось*/
    background-color: var(--green-color);
    position: absolute;
    width: 100%;
    height: 2px; /*толщина линии*/
    left: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; /*пишем для плавности нажатия*/
  }
  .header__burger:after {
    /*делаем нижнюю полоску меню бургер*/
    content: "";
    background-color: var(--green-color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; /*пишем для плавности нажатия*/
  }
  .header__burger.active::before {
    /*прописываем для верхней полоски в активном режиме при нажатии*/
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); /*накланяем верхнюю полоску на 45 градусов*/
    top: 9px; /*ставим ее в нужное место*/
  }
  .header__burger.active::after {
    /*прописываем для нижней полоски в активном режиме при нажатии*/
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); /*накланяем нтжнюю полоску на 45 градусов*/
    bottom: 9px; /*ставим ее в нужное место*/
  }
  .header__burger.active span {
    /*для средней полоски в активном режиме*/
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); /*убираем среднюю полоску в активном режиме*/
  }
  .header .logo {
    margin: 0;
  }
  .header .logo img {
    width: 280px;
  }
  .header .search {
    display: none;
  }
  .header .menu {
    position: fixed; /*прописываем для фиксации сверху*/
    top: 0; /*прописываем чтобы меню выезжало тут -100%, в активном режиме 0*/
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #97e17e;
    opacity: 0.9;
    padding: 80px 0px 0px 0px;
    overflow: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; /*пишем для плавности нажатия*/
  }
  .header .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    width: 270px;
    right: 0;
  }
  .header .menu__list {
    display: block;
  }
  .header .menu__list li {
    list-style-type: none;
    margin: 0px 0px 50px 0px;
  }
  .header .menu__link {
    font-size: 22px;
  }
}
.image {
  overflow: hidden;
}

.image-img {
  position: absolute;
  width: 100%;
  height: 707px;
}
.image-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}
.image-link__line {
  position: absolute;
  margin-top: 447px;
}

.image-link-left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}
.image-link-left__subtitle {
  width: 590px;
  line-height: 84px;
  font-size: 84px;
  margin-top: 140px;
  font-family: "Museo Cyrl 500";
}
.image-link-left__title {
  width: 211px;
  font-size: 26px;
  color: var(--green2-color);
  margin: 62px 0px 0px 180px;
  line-height: 25px;
}
.image-link-left__img100 {
  margin-top: -48px;
}

.image-link-right {
  width: 53%;
  position: relative;
}
.image-link-right__boxing, .image-link-right__fork, .image-link-right__spoon, .image-link-right__cup, .image-link-right__shadow1, .image-link-right__shadow2 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.image-link-right__boxing img, .image-link-right__fork img, .image-link-right__spoon img, .image-link-right__cup img, .image-link-right__shadow1 img, .image-link-right__shadow2 img {
  display: block;
  width: 100%;
}
.image-link-right__boxing {
  width: 735px;
  top: 46.3%;
  left: 85.8%;
}
.image-link-right__fork {
  width: 645px;
  top: 66.5%;
  left: 37%;
}
.image-link-right__spoon {
  width: 300px;
  top: 47.8%;
  left: 94.2%;
}
.image-link-right__cup {
  width: 800px;
  top: 63.3%;
  left: 70.5%;
}
.image-link-right__shadow1 {
  width: 730px;
  top: 90%;
  left: 50%;
}
.image-link-right__shadow2 {
  width: 730px;
  top: 90%;
  left: 82%;
}

.default-btn__image-link-left {
  margin-top: 83px;
  margin-bottom: 150px;
  padding: 13px 41px;
}

@media (max-width: 1024px) {
  .image-img {
    height: 560px;
  }
  .image-link__line {
    margin-top: 347px;
  }
  .image-link-left__subtitle {
    font-size: 78px;
    margin-top: 66px;
    line-height: 78px;
  }
  .image-link-left__title {
    font-size: 22px;
    margin: 30px 0px 0px 150px;
    line-height: 22px;
    letter-spacing: 0.15px;
  }
  .image-link-left__img100 {
    margin-top: -42px;
    width: 135px;
  }
  .image-link-left__img100__img100 img {
    width: 100%;
  }
  .default-btn__image-link-left {
    margin-top: 99px;
    padding: 13px 41px;
  }
  .image-link-right__boxing {
    width: 585px;
    top: 41.7%;
    left: 83.5%;
  }
  .image-link-right__fork {
    width: 500px;
    top: 61%;
    left: 40%;
  }
  .image-link-right__spoon {
    width: 240px;
    top: 43.3%;
    left: 91.5%;
  }
  .image-link-right__cup {
    width: 630px;
    top: 65%;
    left: 68%;
  }
  .image-link-right__shadow1 {
    width: 650px;
    top: 81.5%;
    left: 45%;
  }
  .image-link-right__shadow2 {
    width: 650px;
    top: 81.5%;
    left: 75%;
  }
}
@media (max-width: 768px) {
  .image-img {
    height: 455px;
  }
  .image-link__line {
    margin-top: 277px;
  }
  .image-link-left__subtitle {
    font-size: 60px;
    margin-top: 52px;
    line-height: 60px;
  }
  .image-link-left__title {
    font-size: 18px;
    margin: 34px 0px 0px 124px;
    line-height: 18px;
  }
  .image-link-left__img100 {
    margin-top: -32px;
    width: 108px;
  }
  .image-link-left__img100__img100 img {
    width: 100%;
  }
  .default-btn__image-link-left {
    margin-top: 92px;
    padding: 13px 41px;
  }
  .image-link-right__boxing {
    width: 400px;
    top: 44%;
    left: 92%;
  }
  .image-link-right__fork {
    width: 330px;
    top: 55%;
    left: 50%;
  }
  .image-link-right__spoon {
    width: 150px;
    top: 36%;
    left: 96%;
  }
  .image-link-right__cup {
    width: 480px;
    top: 58%;
    left: 78%;
  }
  .image-link-right__shadow1 {
    width: 450px;
    top: 78%;
    left: 54%;
  }
  .image-link-right__shadow2 {
    width: 450px;
    top: 77.5%;
    left: 84%;
  }
}
@media (max-width: 580px) {
  .image-img {
    height: 485px;
  }
  .image-link__line {
    display: none;
  }
  .image-link-left__subtitle {
    font-size: 60px;
    margin-top: 25px;
    line-height: 55px;
    font-weight: 500;
  }
  .image-link-left__title {
    margin: 30px 0px 0px 125px;
  }
  .image-link-left__img100 {
    margin-top: -32px;
    width: 108px;
  }
  .image-link-left__img100__img100 img {
    width: 100%;
  }
  .default-btn__image-link-left {
    margin-top: 175px;
  }
  .image-link-right__boxing {
    width: 500px;
    top: 47%;
    left: 89%;
  }
  .image-link-right__fork {
    width: 280px;
    top: 62%;
    left: 19%;
  }
  .image-link-right__spoon {
    width: 160px;
    top: 40%;
    left: 91%;
  }
  .image-link-right__cup {
    width: 430px;
    top: 63%;
    left: 73%;
  }
  .image-link-right__shadow1 {
    width: 450px;
    top: 80%;
    left: 31%;
  }
  .image-link-right__shadow2 {
    width: 450px;
    top: 79%;
    left: 85%;
  }
}
.company__subtitle {
  text-align: center;
  font-size: 60px;
  margin-top: 86px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.company__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 82px 105px;
  justify-items: center;
  margin-top: 65px;
}
.company__item_subtitle {
  margin-top: 27px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.company__item_title {
  margin-top: 21px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.2px;
  line-height: 30px;
  margin-right: 20px;
}
.company__item_title span {
  white-space: nowrap;
  font-size: 18px;
  letter-spacing: -0.2px;
}
.company__item_subtitle2 {
  margin-top: 27px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.company__item_title2 {
  margin-top: 21px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.2px;
  line-height: 30px;
}
.company__item_subtitle3 {
  margin-top: 27px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.15px;
}
.company__item_title3 {
  margin-top: 21px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.23px;
  line-height: 30px;
}
.company__item_subtitle4 {
  margin-top: 27px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.company__item_title4 {
  margin-top: 21px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.23px;
  line-height: 30px;
}

@media (max-width: 1024px) {
  .company__subtitle {
    font-size: 44px;
    margin-top: -11px;
    letter-spacing: 0.5px;
  }
  .company__grid {
    grid-gap: 51px 81px;
    margin-top: 36px;
  }
  .company__item_subtitle {
    margin-top: 22px;
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  .company__item_title {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.17px;
    margin-right: 5px;
  }
  .company__item_title span {
    white-space: nowrap;
    font-size: 16px;
    letter-spacing: -0.2px;
  }
  .company__item_subtitle2 {
    margin-top: 22px;
    font-size: 18px;
  }
  .company__item_title2 {
    font-size: 16px;
    letter-spacing: -0.15px;
    line-height: 27px;
  }
  .company__item_subtitle3 {
    margin-top: 23px;
    font-size: 18px;
    letter-spacing: 0.1px;
  }
  .company__item_title3 {
    margin-right: 5px;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 27px;
  }
  .company__item_subtitle4 {
    margin-top: 22px;
    font-size: 18px;
  }
  .company__item_title4 {
    margin-right: 3px;
    font-size: 16px;
    letter-spacing: -0.17px;
    line-height: 27px;
  }
}
@media (max-width: 768px) {
  .company__subtitle {
    font-size: 38px;
    margin-top: -36px;
  }
  .company__grid {
    grid-gap: 25px 60px;
    margin-top: 36px;
  }
  .company__item_subtitle, .company__item_subtitle2, .company__item_subtitle3, .company__item_subtitle4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }
  .company__item_title, .company__item_title2, .company__item_title3, .company__item_title4 {
    margin-right: 0px;
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  .company__subtitle {
    font-size: 32px;
    margin-top: -75px;
  }
  .company__grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 35px 10px 0px 10px;
  }
  .company__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company__item_img, .company__item_img2, .company__item_img3, .company__item_img4 {
    width: 90px;
  }
  .company__item_subtitle, .company__item_subtitle2, .company__item_subtitle3, .company__item_subtitle4 {
    font-size: 19px;
    line-height: 35px;
    margin-top: 10px;
  }
  .company__item_title, .company__item_title2, .company__item_title3, .company__item_title4 {
    text-align: left;
    margin-top: 10px;
    margin-right: 0px;
    font-size: 15px;
  }
  .company__item_title span, .company__item_title2 span, .company__item_title3 span, .company__item_title4 span {
    font-size: 15px;
    letter-spacing: 0px;
  }
}
.license {
  padding-bottom: 102px;
}
.license__hr {
  size: 1px;
  width: 1200px;
  color: #c4c4c4;
  margin-top: 85px;
}

.license-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.license-list__left {
  margin-top: 75px;
  width: 50%;
}
.license-list__right {
  margin-top: 46px;
  margin-left: 26px;
  width: 44%;
}
.license-list__right span {
  white-space: nowrap;
  font-size: 19px;
}
.license-list__right_subtitle {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  color: var(--dark-green-color);
  text-transform: uppercase; /*весь текст с заглавной буквы*/
  letter-spacing: 0.2px;
  line-height: 34px;
}
.license-list__right_title {
  width: 100%;
  margin-top: 25px;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 1024px) {
  .license__hr {
    width: 974px;
    margin-top: 70px;
  }
  .license-list__left {
    margin-top: 62px;
    width: 45.5%;
  }
  .license-list__right {
    margin-top: 39px;
    margin-left: 43px;
    width: 50%;
  }
  .license-list__right span {
    white-space: nowrap;
    font-size: 17px;
  }
  .license-list__right_subtitle {
    width: 90%;
    font-size: 18px;
    letter-spacing: 0.1px;
    line-height: 32px;
  }
  .license-list__right_title {
    width: 91%;
    font-size: 17px;
    margin-top: 12px;
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  .license__hr {
    width: 718px;
    margin-top: 46px;
  }
  .license-list__left {
    margin-top: 34px;
  }
  .license-list__right {
    margin-top: 19px;
    margin-left: 32px;
    width: 53%;
  }
  .license-list__right span {
    white-space: nowrap;
    font-size: 16px;
  }
  .license-list__right_subtitle {
    font-size: 17px;
    width: 93%;
    letter-spacing: -0.5px;
    line-height: 30px;
  }
  .license-list__right_title {
    font-size: 16px;
    width: 93%;
    margin-top: 25px;
    line-height: 27px;
  }
}
@media (max-width: 580px) {
  .license__hr {
    width: 440px;
    margin-top: 30px;
  }
  .license-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .license-list__left {
    margin-top: 30px;
    width: 80%;
  }
  .license-list__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    margin-top: 10px;
    width: 90%;
    margin-left: 0px;
  }
}
.footer {
  background-color: #e5e5e5;
  height: 185px;
}
.footer__wrap {
  width: 100%;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 37px;
}

.column1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 74%;
}

.footer-list-column1 {
  width: 20%;
}
.footer-list-column1__title {
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.2px;
}

.footer-list-column2 {
  margin-top: 7px;
  margin-left: 4px;
}
.footer-list-column2__subtitle {
  font-weight: 600;
  letter-spacing: 0.2px;
}
.footer-list-column2__title {
  font-size: 14px;
  font-weight: 300;
  margin-top: 6px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.footer-list-column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
}
.footer-list-column3__img_2 {
  margin-top: 12px;
}
.footer-list-column3__img_3 {
  margin-top: 12px;
}
.footer-list-column3__text_subtitle {
  font-weight: 600;
  padding-left: 18px;
  letter-spacing: 0.1px;
}
.footer-list-column3__text_title {
  padding-top: 9px;
  padding-left: 17px;
  letter-spacing: -0.15px;
  line-height: 36px;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 67px;
  }
  .column1-2 {
    width: 63%;
  }
  .footer-list-column1 {
    width: 35%;
  }
  .footer-list-column2 {
    width: 40.5%;
    margin-top: 8px;
    margin-left: 7px;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 41px;
  }
  .column1-2 {
    width: 53%;
  }
  .footer-list-column1 {
    width: 45%;
  }
  .footer-list-column2 {
    width: 46%;
    margin-left: 5px;
  }
  .footer-list-column3__text_subtitle {
    padding-left: 10px;
  }
  .footer-list-column3__text_title {
    padding-left: 10px;
  }
}
@media (max-width: 580px) {
  .footer {
    height: 150px;
    width: 100%;
  }
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-left: 10px;
  }
  .column1-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 37%;
  }
  .footer-list-column1 {
    width: 100%;
    margin: 0px;
  }
  .footer-list-column1__title {
    line-height: 28px;
  }
  .footer-list-column2 {
    width: 100%;
    margin: 3px 0px 0px 0px;
  }
  .footer-list-column2__title {
    display: none;
  }
  .footer-list-column3 {
    margin-top: 13px;
  }
  .footer-list-column3__img_1 {
    margin-top: 0px;
  }
  .footer-list-column3__img_2 {
    margin-top: 13px;
  }
  .footer-list-column3__img_3 {
    margin-top: 13px;
  }
  .footer-list-column3__text_subtitle {
    font-weight: 600;
    padding-left: 18px;
    letter-spacing: 0.1px;
  }
  .footer-list-column3__text_title {
    letter-spacing: -0.5px;
    font-size: 13px;
  }
}
.product {
  background-color: #f6f6f6;
}
.product__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-left {
  width: 47%;
}
.product-left__subtitle {
  padding-top: 115px;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.product-left__text {
  padding-top: 10px;
  letter-spacing: -0.1px;
  font-size: 15px;
  font-weight: 300;
}
.product-left__title {
  padding-top: 39px;
  letter-spacing: -0.2px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 300;
}

.product-right {
  width: 50%;
  position: relative;
}
.product-right__boxing, .product-right__fork, .product-right__spoon, .product-right__cup, .product-right__shadow1, .product-right__shadow2 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.product-right__boxing img, .product-right__fork img, .product-right__spoon img, .product-right__cup img, .product-right__shadow1 img, .product-right__shadow2 img {
  display: block;
  width: 100%;
}
.product-right__boxing {
  width: 485px;
  top: 49%;
  left: 67%;
}
.product-right__fork {
  width: 390px;
  top: 42.7%;
  left: 8%;
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
}
.product-right__spoon {
  width: 190px;
  top: 21.5%;
  left: 60%;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.product-right__cup {
  width: 470px;
  top: 68%;
  left: 61.2%;
}
.product-right__shadow1 {
  width: 300px;
  top: 88%;
  left: 38%;
}
.product-right__shadow2 {
  width: 350px;
  top: 87%;
  left: 75%;
}

@media (max-width: 1024px) {
  .product-left {
    width: 47%;
  }
  .product-left__subtitle {
    padding-top: 26px;
    font-size: 44px;
  }
  .product-left__text {
    padding-top: 17px;
  }
  .product-left__title {
    padding-top: 27px;
    line-height: 28px;
    font-size: 17px;
  }
}
.product-right__boxing {
  width: 395px;
  top: 49.5%;
  left: 67%;
}
.product-right__fork {
  width: 310px;
  top: 48%;
  left: 9%;
  -webkit-transform: rotate(-6deg);
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg);
}
.product-right__spoon {
  width: 165px;
  top: 19%;
  left: 59%;
  -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.product-right__cup {
  width: 380px;
  top: 74%;
  left: 61.2%;
}
.product-right__shadow1 {
  width: 230px;
  top: 100%;
  left: 38%;
}
.product-right__shadow2 {
  width: 280px;
  top: 98%;
  left: 77%;
}

@media (max-width: 768px) {
  .product-left {
    width: 54%;
  }
  .product-left__title {
    line-height: 23px;
    font-size: 16px;
  }
  .product-right__boxing {
    width: 290px;
    top: 41.5%;
    left: 67%;
  }
  .product-right__fork {
    width: 225px;
    top: 46%;
    left: 8.5%;
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .product-right__spoon {
    width: 135px;
    top: 21%;
    left: 57%;
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  .product-right__cup {
    width: 285px;
    top: 62%;
    left: 61.5%;
  }
  .product-right__shadow1 {
    width: 170px;
    top: 83%;
    left: 38%;
  }
  .product-right__shadow2 {
    width: 250px;
    top: 82%;
    left: 71%;
  }
}
@media (max-width: 580px) {
  .product {
    overflow: hidden;
    height: 460px;
  }
  .product__wrap {
    display: inline;
  }
  .product-left {
    overflow: hidden;
    width: 97%;
  }
  .product-left__subtitle {
    padding-top: 26px;
    font-size: 44px;
  }
  .product-left__title {
    line-height: 23px;
    font-size: 18px;
  }
  .product-right {
    width: 125%;
    top: -90px;
    opacity: 0.4;
  }
  .product-right__boxing {
    width: 395px;
    top: -65px;
    left: 67%;
  }
  .product-right__fork {
    width: 250px;
    top: -72px;
    left: 20%;
  }
  .product-right__spoon {
    width: 135px;
    top: -215px;
    left: 59%;
  }
  .product-right__cup {
    width: 380px;
    top: 74%;
    left: 61.2%;
  }
  .product-right__shadow1 {
    width: 330px;
    top: 90px;
    left: 38%;
  }
  .product-right__shadow2 {
    width: 280px;
    top: 90px;
    left: 70%;
  }
}
.catalog-card {
  padding-top: 98px;
  background-color: #f6f6f6;
}
.catalog-card__wrap {
  max-width: 100%;
  padding-bottom: 100px;
}

.cutlery-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--white-color);
  max-width: 1200px;
  width: 100%;
  height: 447px;
  border-radius: 15px;
}
.cutlery-card__eco {
  position: absolute;
  right: 48px;
  top: 0px;
}

.cutlery-card-left {
  width: 77%;
  height: 100%;
}
.cutlery-card-left__subtitle {
  width: 70%;
  font-size: 32px;
  font-weight: 600;
  margin: 46px 0px 0px 48px;
  letter-spacing: 0.4px;
}
.cutlery-card-left__title {
  width: 79%;
  font-size: 18px;
  font-weight: 300;
  margin: 15px 0px 0px 48px;
  letter-spacing: -0.2px;
  line-height: 30px;
}

.default-btn__cutlery-card-left {
  margin: 40px 0px 0px 48px;
  padding: 13px 41px;
}

.cutlery-card-right {
  width: 71%;
}
.cutlery-card-right img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .catalog-card {
    padding-top: 79px;
  }
  .cutlery-card {
    max-width: 976px;
    height: 376px;
  }
  .cutlery-card-left__subtitle {
    font-size: 28px;
    margin: 48px 0px 0px 48px;
  }
  .cutlery-card-left__title {
    font-size: 16px;
    margin: 18px 0px 0px 48px;
    letter-spacing: -0.15px;
    line-height: 27px;
  }
  .default-btn__cutlery-card-left {
    margin: 46px 0px 0px 48px;
  }
}
@media (max-width: 768px) {
  .catalog-card {
    padding-top: 100px;
  }
  .cutlery-card {
    max-width: 720px;
    height: 370px;
  }
  .cutlery-card-left {
    width: 86%;
  }
  .cutlery-card-left__subtitle {
    font-size: 22px;
    margin: 20px 0px 0px 20px;
  }
  .cutlery-card-left__title {
    font-size: 15px;
    margin: 15px 0px 0px 20px;
  }
  .default-btn__cutlery-card-left {
    margin: 35px 0px 0px 20px;
  }
}
@media (max-width: 580px) {
  .catalog-card {
    overflow: hidden;
  }
  .cutlery-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 776px;
    height: 350px;
  }
  .cutlery-card__eco {
    right: 11px;
  }
  .cutlery-card-left {
    position: absolute;
    width: 118%;
    height: 100%;
    z-index: 2;
  }
  .cutlery-card-left__subtitle {
    font-size: 24px;
    margin: 24px 0px 0px 20px;
  }
  .cutlery-card-left__title {
    font-size: 15px;
    margin: 15px 0px 0px 20px;
  }
  .default-btn__cutlery-card-left {
    margin: 55px 0px 0px 20px;
  }
  .cutlery-card-right {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
}
.catalog-item {
  background-color: #f6f6f6;
}
.catalog-item__wrap {
  max-height: 500px;
  padding: 98px 0px;
}

.cutlery-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--white-color);
  width: 100%;
  max-height: 447px;
  border-radius: 15px;
}

.cutlery-item-left {
  width: 52%;
}
.cutlery-item-left__subtitle {
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  margin: 46px 0px 0px 48px;
  letter-spacing: 0.4px;
}
.cutlery-item-left__title {
  width: 79%;
  font-size: 18px;
  font-weight: 300;
  margin: 15px 0px 0px 48px;
  letter-spacing: -0.2px;
  line-height: 30px;
}

.btn-cutlery-item-left {
  -webkit-transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  cursor: pointer; /*курсор в виде руки*/
  margin: 30px 0px 0px 47px;
}
.btn-cutlery-item-left:hover {
  color: var(--green2-color);
}
.btn-cutlery-item-left:active {
  color: var(--dark-green-color);
}

.default-btn__cutlery-item-left {
  margin: 80px 0px 0px 47px;
  padding: 13px 41px;
  color: var(--white-color);
}

.cutlery-item-right img {
  width: 100%;
  height: 100%;
}

.eco {
  position: absolute;
  right: 48px;
  top: 0px;
}

.cutlery-item-icon {
  position: absolute;
  bottom: 44px;
}
.cutlery-item-icon__1 {
  right: 48px;
}
.cutlery-item-icon__2 {
  right: 232px;
}
.cutlery-item-icon__3 {
  right: 140px;
}
.cutlery-item-icon__4 {
  right: 324px;
}

@media (max-width: 1024px) {
  .cutlery-item {
    height: 350px;
  }
  .cutlery-item-left {
    width: 72%;
  }
  .cutlery-item-left__subtitle {
    font-size: 28px;
    margin: 35px 0px 0px 30px;
  }
  .cutlery-item-left__title {
    font-size: 16px;
    margin: 15px 0px 0px 30px;
  }
  .btn-cutlery-item-left {
    margin: 30px 0px 0px 30px;
  }
  .default-btn__cutlery-item-left {
    margin: 36px 0px 0px 30px;
    padding: 13px 30px;
    font-size: 16px;
  }
  .cutlery-item-icon {
    position: absolute;
    bottom: 44px;
  }
  .cutlery-item-icon__1 {
    right: 20px;
  }
  .cutlery-item-icon__2 {
    right: 85px;
  }
  .cutlery-item-icon__3 {
    right: 155px;
  }
  .cutlery-item-icon__4 {
    right: 225px;
  }
}
@media (max-width: 768px) {
  .cutlery-item-left__subtitle {
    font-size: 22px;
  }
  .cutlery-item-left__title {
    font-size: 14px;
  }
  .btn-cutlery-item-left {
    margin: 20px 0px 0px 30px;
  }
  .default-btn__cutlery-item-left {
    padding: 13px 15px;
    font-size: 15px;
  }
  .cutlery-item-icon {
    position: absolute;
    bottom: 44px;
  }
  .cutlery-item-icon__1 {
    right: 0px;
  }
  .cutlery-item-icon__2 {
    right: 65px;
  }
  .cutlery-item-icon__3 {
    right: 135px;
  }
  .cutlery-item-icon__4 {
    right: 200px;
  }
}
@media (max-width: 580px) {
  .cutlery-item {
    height: 350px;
  }
  .cutlery-item-left {
    position: absolute;
    z-index: 2;
  }
  .cutlery-item-left__subtitle {
    font-size: 24px;
    margin: 23px 0px 0px 15px;
  }
  .cutlery-item-left__title {
    font-size: 14px;
    margin: 10px 0px 0px 15px;
    line-height: 23px;
  }
  .btn-cutlery-item-left {
    margin: 60px 0px 0px 15px;
  }
  .default-btn__cutlery-item-left {
    margin: 17px 0px 0px 15px;
    padding: 13px 15px;
    font-size: 15px;
  }
  .cutlery-item-right {
    height: 100%;
    position: absolute;
    opacity: 0.5;
  }
  .eco {
    right: 11px;
    z-index: 2;
  }
  .cutlery-item-icon {
    position: absolute;
    bottom: 44px;
  }
  .cutlery-item-icon__1, .cutlery-item-icon__2, .cutlery-item-icon__3, .cutlery-item-icon__4 {
    right: 0px;
  }
  .cutlery-item-icon__1 {
    top: 50px;
  }
  .cutlery-item-icon__2 {
    top: 257px;
  }
  .cutlery-item-icon__3 {
    top: 182px;
  }
  .cutlery-item-icon__4 {
    top: 110px;
  }
}