.product {
    background-color: #f6f6f6;

    &__wrap {
        width: 100%;
        display: flex;
    }
}
.product-left {
    width: 47%;
    &__subtitle {
        padding-top: 115px;
        font-size: 60px;
        font-weight: 600;
        letter-spacing: 0.8px;
    }
    &__text {
        padding-top: 10px;
        letter-spacing: -0.1px;
        font-size: 15px;
        font-weight: 300;
    }
    &__title {
        padding-top: 39px;
        letter-spacing: -0.2px;
        line-height: 32px;
        font-size: 20px;
        font-weight: 300;
    }
}
.product-right {
    width: 50%;
    position: relative;
    &__boxing,
    &__fork,
    &__spoon,
    &__cup,
    &__shadow1,
    &__shadow2 {
        position: absolute;
        transform: translate(-50%, -50%);
        img {
            display: block;
            width: 100%;
        }
    }
    &__boxing {
        width: 485px;
        top: 49%;
        left: 67%;
    }
    &__fork {
        width: 390px;
        top: 42.7%;
        left: 8%;
        transform: rotate(-4deg);
    }
    &__spoon {
        width: 190px;
        top: 21.5%;
        left: 60%;
        transform: rotate(-3deg);
    }
    &__cup {
        width: 470px;
        top: 68%;
        left: 61.2%;
    }
    &__shadow1 {
        width: 300px;
        top: 88%;
        left: 38%;
    }
    &__shadow2 {
        width: 350px;
        top: 87%;
        left: 75%;
    }
}
@media (max-width: 1024px) {
    .product-left {
        width: 47%;
        &__subtitle {
            padding-top: 26px;
            font-size: 44px;
        }
        &__text {
            padding-top: 17px;
        }
        &__title {
            padding-top: 27px;
            line-height: 28px;
            font-size: 17px;
        }
    }
}
.product-right {
    &__boxing {
        width: 395px;
        top: 49.5%;
        left: 67%;
    }
    &__fork {
        width: 310px;
        top: 48%;
        left: 9%;
        transform: rotate(-6deg);
    }
    &__spoon {
        width: 165px;
        top: 19%;
        left: 59%;
        transform: rotate(-3deg);
    }
    &__cup {
        width: 380px;
        top: 74%;
        left: 61.2%;
    }
    &__shadow1 {
        width: 230px;
        top: 100%;
        left: 38%;
    }
    &__shadow2 {
        width: 280px;
        top: 98%;
        left: 77%;
    }
}
@media (max-width: 768px) {
    .product-left {
        width: 54%;
        &__title {
            line-height: 23px;
            font-size: 16px;
        }
    }
    .product-right {
        &__boxing {
            width: 290px;
            top: 41.5%;
            left: 67%;
        }
        &__fork {
            width: 225px;
            top: 46%;
            left: 8.5%;
            transform: rotate(-10deg);
        }
        &__spoon {
            width: 135px;
            top: 21%;
            left: 57%;
            transform: rotate(-3deg);
        }
        &__cup {
            width: 285px;
            top: 62%;
            left: 61.5%;
        }
        &__shadow1 {
            width: 170px;
            top: 83%;
            left: 38%;
        }
        &__shadow2 {
            width: 250px;
            top: 82%;
            left: 71%;
        }
    }
}
@media (max-width: 580px) {
    .product {
        overflow: hidden;
        height: 460px;
        &__wrap {
            display: inline;
        }
    }
    .product-left {
        overflow: hidden;
        width: 97%;
        &__subtitle {
            padding-top: 26px;
            font-size: 44px;
        }
        &__title {
            line-height: 23px;
            font-size: 18px;
        }
    }
    .product-right {
        width: 125%;
        top: -90px;
        opacity: 0.4;

        &__boxing {
            width: 395px;
            top: -65px;
            left: 67%;
        }
        &__fork {
            width: 250px;
            top: -72px;
            left: 20%;
        }
        &__spoon {
            width: 135px;
            top: -215px;
            left: 59%;
        }
        &__cup {
            width: 380px;
            top: 74%;
            left: 61.2%;
        }
        &__shadow1 {
            width: 330px;
            top: 90px;
            left: 38%;
        }
        &__shadow2 {
            width: 280px;
            top: 90px;
            left: 70%;
        }
    }
}
