.catalog-item {
    background-color: #f6f6f6;

    &__wrap {
        max-height: 500px;
        padding: 98px 0px;
    }
}
.cutlery-item {
    position: relative;
    display: flex;
    background-color: var(--white-color);
    width: 100%;
    max-height: 447px;
    border-radius: 15px;
}
.cutlery-item-left {
    width: 52%;

    &__subtitle {
        width: 100%;
        font-size: 32px;
        font-weight: 600;
        margin: 46px 0px 0px 48px;
        letter-spacing: 0.4px;
    }
    &__title {
        width: 79%;
        font-size: 18px;
        font-weight: 300;
        margin: 15px 0px 0px 48px;
        letter-spacing: -0.2px;
        line-height: 30px;
    }
}
.btn-cutlery-item-left {
    transition: outline-color var(--transition-duration), background-color var(--transition-duration);
    cursor: pointer; /*курсор в виде руки*/
    margin: 30px 0px 0px 47px;

    &:hover {
        color: var(--green2-color);
    }
    &:active {
        color: var(--dark-green-color);
    }
}
.default-btn {
    &__cutlery-item-left {
        margin: 80px 0px 0px 47px;
        padding: 13px 41px;
        color: var(--white-color);
    }
}
.cutlery-item-right {
    img {
        width: 100%;
        height: 100%;
    }
}
.eco {
    position: absolute;
    right: 48px;
    top: 0px;
}
.cutlery-item-icon {
    position: absolute;
    bottom: 44px;

    &__1 {
        right: 48px;
    }
    &__2 {
        right: 232px;
    }
    &__3 {
        right: 140px;
    }
    &__4 {
        right: 324px;
    }
}
@media (max-width: 1024px) {
    .cutlery-item {
        height: 350px;
    }
    .cutlery-item-left {
        width: 72%;

        &__subtitle {
            font-size: 28px;
            margin: 35px 0px 0px 30px;
        }
        &__title {
            font-size: 16px;
            margin: 15px 0px 0px 30px;
        }
    }
    .btn-cutlery-item-left {
        margin: 30px 0px 0px 30px;
    }
    .default-btn {
        &__cutlery-item-left {
            margin: 36px 0px 0px 30px;
            padding: 13px 30px;
            font-size: 16px;
        }
    }
    .cutlery-item-icon {
        position: absolute;
        bottom: 44px;

        &__1 {
            right: 20px;
        }
        &__2 {
            right: 85px;
        }
        &__3 {
            right: 155px;
        }
        &__4 {
            right: 225px;
        }
    }
}
@media (max-width: 768px) {
    .cutlery-item-left {
        &__subtitle {
            font-size: 22px;
        }
        &__title {
            font-size: 14px;
        }
    }
    .btn-cutlery-item-left {
        margin: 20px 0px 0px 30px;
    }
    .default-btn {
        &__cutlery-item-left {
            padding: 13px 15px;
            font-size: 15px;
        }
    }
    .cutlery-item-icon {
        position: absolute;
        bottom: 44px;
        &__1 {
            right: 0px;
        }
        &__2 {
            right: 65px;
        }
        &__3 {
            right: 135px;
        }
        &__4 {
            right: 200px;
        }
    }
}
@media (max-width: 580px) {
    .cutlery-item {
    height: 350px;
    }
    .cutlery-item-left {
        position: absolute;
        z-index: 2;

        &__subtitle {
            font-size: 24px;
            margin: 23px 0px 0px 15px;
        }
        &__title {
            font-size: 14px;
            margin: 10px 0px 0px 15px;
            line-height: 23px;
        }
    }
    .btn-cutlery-item-left {
        margin: 60px 0px 0px 15px;
    }
    .default-btn {
        &__cutlery-item-left {
            margin:17px 0px 0px 15px;
            padding: 13px 15px;
            font-size: 15px;
        }
    }
    .cutlery-item-right {
        height: 100%;
        position: absolute;
        opacity: 0.5;
    }
    .eco {
        right: 11px;
        z-index: 2;
    }
    .cutlery-item-icon {
        position: absolute;
        bottom: 44px;
        &__1,
        &__2,
        &__3,
        &__4 {
            right: 0px;
        }
        &__1 {
            top: 50px;
        }
        &__2 {
            top: 257px;
        }
        &__3 {
            top: 182px;
        }
        &__4 {
            top: 110px;
        }
    }
}
